# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment variables
.env

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# IDE / Editor
.vscode/
.idea/
.DS_Store
*.swp

# OS files
Thumbs.db

# Coverage reports
coverage/
.nyc_output/

# Build output
dist/
build/

# Optional: database
*.sqlite
*.db

# Optional: uploads or user files
uploads/
public/uploads/
src/testing/

# Others
.env.local
.env.development.local
.env.test.local
.env.production.local
